*{

}
body{
    margin: 0;
}

#notepad{
    display: flex;
width: 100vw;
    height: 100vh;
}
#sidebar{
flex: 0 300px;
}
#sidebar .file{

}
#editor-area{
    flex :1;
    display: flex;
    flex-direction: column;
}


/* 탭*/
#tab-area{
    display: flex;
    height: 40px;
}
#tab-area .tab{

}
/* 텍스트 에디터 */
#editor{
        height: calc(100vw - 40px);
}
.closeButton:hover{
    background-color: #ffc107;
}

.indicatorCircle{
    width: 15px;
    height: 15px;
}