#main_div{
    background-color: #53aea8;
    height: 100vh;
    width: 100vw;
}
#title_header{
    margin-left: 25vw;
    background-color: #e7dbed;
    height: 5%;
    width: 50%;
    text-align: center;
}
#search_nav{
    position: relative;
    display: flex;
    margin-top: 2%;
    margin-left: 20%;
    background-color: #cfcca2;
    height: 7%;
    width: 60%;
}
#search_bar{
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
    background-color: #e7dbed;
    height: 70%;
    width: 90%;
}
#search_button{
    position: relative;
    width: 4%;
    height: 80%;
    margin-top: 0.65%;
    margin-left: 0.5%;
    background-color: sandybrown;
    border-style: none;
}
#tableList_section {
    background-color: tan;
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 2%;
}
#tableList_div{
    position: absolute;
    background-color: antiquewhite;
    width: 75%;
    /*height: 35%;*/
    height: auto;
    min-height: 35%;
    margin-left: 2.5%;
    margin-top: 1.5%;
}
footer{
    margin-top: 5%;
    margin-left: 35%;
    background-color: #ffc107;
    height: 5%;
    width: 30%;
}
#pagingIndex_nav{
    position: absolute;
    background-color: #cfcca2;
    width: 20%;
    height: 5%;
    margin-left: 5%;
}
